/* Write your CSS code here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.login-heading {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-page-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
